In [2]:
# Import necessary libraries
import pandas as pd
import numpy as np
import datetime

In [ ]:
# Enter Parameters

# read_from_filepath = r"ENTER FILE PATH TO READ DATA FROM"
# save_to_filepath = r"ENTER FILE PATH TO SAVE TO"

In [ ]:
result_df = pd.read_csv(read_from_filepath)
result_df.head()

,Date,Day of Week,Time,Before 1 PM,entry_time,contract_symbol,moneyness,Option Type,Strike Distance,DTE,...,5%,10%,15%,20%,25%,30%,35%,40%,45%,50%
0,2024-01-18,Thursday,11:38:00,Y,09:31:00,SPY240118C00471000,ITM,Call,-4,0,...,True,True,True,True,True,True,True,True,False,False
1,2024-01-18,Thursday,11:36:00,Y,09:31:00,SPY240118C00472000,ITM,Call,-3,0,...,True,True,True,True,True,True,True,True,True,True
2,2024-01-18,Thursday,11:36:00,Y,09:31:00,SPY240118C00473000,ITM,Call,-2,0,...,True,True,True,True,True,True,True,True,True,True
3,2024-01-18,Thursday,11:36:00,Y,09:31:00,SPY240118C00474000,ITM,Call,-1,0,...,True,True,True,True,True,True,True,True,True,True
4,2024-01-18,Thursday,11:36:00,Y,09:31:00,SPY240118C00475000,OTM,Call,0,0,...,True,True,True,True,True,True,True,True,True,True

### Summarize Results In Various Ways
#### All by 10 min clip and day of week/overall
* Option Type
* Moneyness
* Strike Distance
* DTE

* Overall, are there better times to buy than not?
* As the day goes on, should the price target decrease, increase, or stay the same

In [4]:
def summarize_profitable_exit(df):
    # Group the data by relevant fields
    summary = df.groupby(['Day of Week', 'Option Type', 'entry_time', 'moneyness', 'Strike Distance', 'DTE']).agg(
        total_trades=('contract_symbol', 'count'),  # Count total trades
        success_5pct=('5%', 'mean'),  # Percentage of 5% profit success
        success_10pct=('10%', 'mean'),  # Percentage of 10% profit success
        success_15pct=('15%', 'mean'),  # Percentage of 15% profit success
        success_20pct=('20%', 'mean'),  # Percentage of 20% profit success
        success_25pct=('25%', 'mean'),  # Percentage of 25% profit success
        success_30pct=('30%', 'mean'),  # Percentage of 30% profit success
        success_35pct=('35%', 'mean'),  # Percentage of 35% profit success
        success_40pct=('40%', 'mean'),  # Percentage of 40% profit success
        success_45pct=('45%', 'mean'),  # Percentage of 45% profit success
        success_50pct=('50%', 'mean')  # Percentage of 50% profit success
    ).reset_index()

    # Convert the success rates from proportions to percentages
    summary['success_5pct'] = summary['success_5pct'] * 100
    summary['success_10pct'] = summary['success_10pct'] * 100
    summary['success_15pct'] = summary['success_15pct'] * 100
    summary['success_20pct'] = summary['success_20pct'] * 100
    summary['success_25pct'] = summary['success_25pct'] * 100
    summary['success_30pct'] = summary['success_30pct'] * 100
    summary['success_35pct'] = summary['success_35pct'] * 100
    summary['success_40pct'] = summary['success_40pct'] * 100
    summary['success_45pct'] = summary['success_45pct'] * 100
    summary['success_50pct'] = summary['success_50pct'] * 100

    # Filter out rows where no profit targets were met
    # summary = summary[(summary['success_5pct'] > 0) | (summary['success_10pct'] > 0) | (summary['success_15pct'] > 0)
    #                   | (summary['success_20pct'] > 0) | (summary['success_25pct'] > 0) | (summary['success_30pct'] > 0)
    #                   | (summary['success_35pct'] > 0) | (summary['success_40pct'] > 0) | (summary['success_45pct'] > 0)
    #                   | (summary['success_50pct'] > 0)]

    return summary

In [5]:
# Call the summarization function with your result_df
summary_df = summarize_profitable_exit(result_df)

# Display the summarized results
print(summary_df.head())

  Day of Week Option Type entry_time moneyness  Strike Distance  DTE  \
0      Friday        Call   09:31:00       ITM               -7    0
1      Friday        Call   09:31:00       ITM               -7    3
2      Friday        Call   09:31:00       ITM               -6    0
3      Friday        Call   09:31:00       ITM               -6    3
4      Friday        Call   09:31:00       ITM               -5    0

   total_trades  success_5pct  success_10pct  success_15pct  success_20pct  \
0             2         100.0      50.000000       0.000000       0.000000
1             1           0.0       0.000000       0.000000       0.000000
2             3         100.0     100.000000      66.666667      33.333333
3             6         100.0      83.333333      66.666667      33.333333
4             5         100.0     100.000000     100.000000     100.000000

   success_25pct  success_30pct  success_35pct  success_40pct  success_45pct  \
0       0.000000       0.000000       0.000000       0.000000       0.000000
1       0.000000       0.000000       0.000000       0.000000       0.000000
2      33.333333      33.333333      33.333333      33.333333      33.333333
3      33.333333      33.333333      33.333333      33.333333      16.666667
4     100.000000      60.000000      40.000000      40.000000      40.000000

   success_50pct
0       0.000000
1       0.000000
2      33.333333
3      16.666667
4      40.000000

# Summarized Summary

In [6]:
def summarize_by_factors(df):
    # Group the data by Option Type, DTE, Strike Distance, Day of Week, and Time
    summary = df.groupby(['Option Type','moneyness', 'DTE', 'Strike Distance', 'Day of Week', 'entry_time']).agg(
        total_trades=('contract_symbol', 'count'),  # Total trades
        success_5pct=('5%', 'mean'),  # Success rate for 5% profit
        success_10pct=('10%', 'mean'),  # Success rate for 10% profit
        success_15pct=('15%', 'mean'),  # Success rate for 15% profit
        success_20pct=('20%', 'mean'),  # Success rate for 20% profit
        success_25pct=('25%', 'mean'),  # Success rate for 25% profit
        success_30pct=('30%', 'mean'),  # Success rate for 30% profit
        success_35pct=('35%', 'mean'),  # Success rate for 35% profit
        success_40pct=('40%', 'mean'),  # Success rate for 40% profit
        success_45pct=('45%', 'mean'),  # Success rate for 45% profit
        success_50pct=('50%', 'mean')  # PSuccess rate for 50% profit
    ).reset_index()

    # Convert success rates to percentages
    summary['success_5pct'] = summary['success_5pct'] * 100
    summary['success_10pct'] = summary['success_10pct'] * 100
    summary['success_15pct'] = summary['success_15pct'] * 100
    summary['success_20pct'] = summary['success_20pct'] * 100
    summary['success_25pct'] = summary['success_25pct'] * 100
    summary['success_30pct'] = summary['success_30pct'] * 100
    summary['success_35pct'] = summary['success_35pct'] * 100
    summary['success_40pct'] = summary['success_40pct'] * 100
    summary['success_45pct'] = summary['success_45pct'] * 100
    summary['success_50pct'] = summary['success_50pct'] * 100

    return summary

# Call the summarization function
summary_by_factors_df = summarize_by_factors(result_df)

# Display the summarized results
print(summary_by_factors_df.head())

  Option Type moneyness  DTE  Strike Distance Day of Week entry_time  \
0        Call       ATM    0                0      Friday   14:21:00
1        Call       ATM    0                0      Friday   14:51:00
2        Call       ATM    0                0      Monday   11:01:00
3        Call       ATM    0                0    Thursday   11:21:00
4        Call       ATM    0                0    Thursday   11:41:00

   total_trades  success_5pct  success_10pct  success_15pct  success_20pct  \
0             1         100.0          100.0          100.0          100.0
1             1         100.0          100.0          100.0          100.0
2             1         100.0          100.0          100.0          100.0
3             1           0.0            0.0            0.0            0.0
4             1         100.0          100.0          100.0          100.0

   success_25pct  success_30pct  success_35pct  success_40pct  success_45pct  \
0            0.0            0.0            0.0            0.0            0.0
1          100.0          100.0          100.0          100.0            0.0
2          100.0          100.0          100.0          100.0          100.0
3            0.0            0.0            0.0            0.0            0.0
4          100.0          100.0          100.0          100.0          100.0

   success_50pct
0            0.0
1            0.0
2          100.0
3            0.0
4          100.0

In [7]:
def summarize_profitable_exit_without_day(df):
    # Group the data by relevant fields, excluding 'Day of Week'
    summary = df.groupby(['Option Type', 'moneyness', 'DTE', 'Strike Distance', 'entry_time']).agg(
        total_trades=('contract_symbol', 'count'),  # Count total trades
        success_5pct=('5%', 'mean'),  # Percentage of 5% profit success
        success_10pct=('10%', 'mean'),  # Percentage of 10% profit success
        success_15pct=('15%', 'mean'),  # Percentage of 15% profit success
        success_20pct=('20%', 'mean'),  # Success rate for 20% profit
        success_25pct=('25%', 'mean'),  # Success rate for 25% profit
        success_30pct=('30%', 'mean'),  # Success rate for 30% profit
        success_35pct=('35%', 'mean'),  # Success rate for 35% profit
        success_40pct=('40%', 'mean'),  # Success rate for 40% profit
        success_45pct=('45%', 'mean'),  # Success rate for 45% profit
        success_50pct=('50%', 'mean')  # PSuccess rate for 50% profit
    ).reset_index()

    # Convert the success rates from proportions to percentages
    summary['success_5pct'] = summary['success_5pct'] * 100
    summary['success_10pct'] = summary['success_10pct'] * 100
    summary['success_15pct'] = summary['success_15pct'] * 100
    summary['success_20pct'] = summary['success_20pct'] * 100
    summary['success_25pct'] = summary['success_25pct'] * 100
    summary['success_30pct'] = summary['success_30pct'] * 100
    summary['success_35pct'] = summary['success_35pct'] * 100
    summary['success_40pct'] = summary['success_40pct'] * 100
    summary['success_45pct'] = summary['success_45pct'] * 100
    summary['success_50pct'] = summary['success_50pct'] * 100

    return summary

# Call the summarization function without considering the Day of Week
summary_df_no_day = summarize_profitable_exit_without_day(result_df)

# Display the summarized results
print(summary_df_no_day.head())

  Option Type moneyness  DTE  Strike Distance entry_time  total_trades  \
0        Call       ATM    0                0   11:01:00             1
1        Call       ATM    0                0   11:21:00             2
2        Call       ATM    0                0   11:41:00             1
3        Call       ATM    0                0   11:51:00             1
4        Call       ATM    0                0   12:11:00             1

   success_5pct  success_10pct  success_15pct  success_20pct  success_25pct  \
0         100.0          100.0          100.0          100.0          100.0
1          50.0           50.0           50.0           50.0           50.0
2         100.0          100.0          100.0          100.0          100.0
3         100.0          100.0          100.0          100.0            0.0
4         100.0          100.0          100.0          100.0          100.0

   success_30pct  success_35pct  success_40pct  success_45pct  success_50pct
0          100.0          100.0          100.0          100.0          100.0
1           50.0           50.0           50.0           50.0            0.0
2          100.0          100.0          100.0          100.0          100.0
3            0.0            0.0            0.0            0.0            0.0
4          100.0          100.0          100.0          100.0          100.0

## Analyze the summaries / find alpha

In [8]:
def rank_top_achievers(df):
    # Calculate composite score based on success rates
    df['composite_score'] = (0.1 * df['success_5pct'] + 
                             0.2 * df['success_10pct'] + 
                             0.3 * df['success_15pct'] + 
                             0.4 * df['success_20pct'] +
                             0.5 * df['success_25pct'] +
                             0.6 * df['success_30pct'] +
                             0.7 * df['success_35pct'] +
                             0.8 * df['success_40pct'] +
                             0.9 * df['success_45pct'] +
                             1.0 * df['success_50pct']
                             )

    # Rank the results by composite score
    df_ranked = df.sort_values(by='composite_score', ascending=False).reset_index(drop=True)

    return df_ranked

# Call the function with your summarized dataframe (from the previous step)
ranked_df = rank_top_achievers(summary_df)

# Display the top achievers
print(ranked_df.head(10))

  Day of Week Option Type entry_time moneyness  Strike Distance  DTE  \
0     Tuesday         Put   13:41:00       ITM                4    0
1      Friday         Put   10:11:00       OTM               -6    0
2      Monday         Put   11:31:00       OTM               -8    0
3      Monday         Put   11:31:00       OTM               -8    1
4      Monday         Put   11:31:00       OTM               -7    0
5      Monday         Put   11:31:00       OTM               -7    1
6      Monday         Put   11:31:00       OTM               -6    0
7     Tuesday         Put   09:31:00       OTM               -2    0
8      Monday         Put   11:31:00       OTM               -5    0
9      Monday         Put   11:31:00       OTM               -4    0

   total_trades  success_5pct  success_10pct  success_15pct  success_20pct  \
0             1         100.0          100.0          100.0          100.0
1             3         100.0          100.0          100.0          100.0
2             1         100.0          100.0          100.0          100.0
3             1         100.0          100.0          100.0          100.0
4             1         100.0          100.0          100.0          100.0
5             1         100.0          100.0          100.0          100.0
6             1         100.0          100.0          100.0          100.0
7             5         100.0          100.0          100.0          100.0
8             2         100.0          100.0          100.0          100.0
9             3         100.0          100.0          100.0          100.0

   success_25pct  success_30pct  success_35pct  success_40pct  success_45pct  \
0          100.0          100.0          100.0          100.0          100.0
1          100.0          100.0          100.0          100.0          100.0
2          100.0          100.0          100.0          100.0          100.0
3          100.0          100.0          100.0          100.0          100.0
4          100.0          100.0          100.0          100.0          100.0
5          100.0          100.0          100.0          100.0          100.0
6          100.0          100.0          100.0          100.0          100.0
7          100.0          100.0          100.0          100.0          100.0
8          100.0          100.0          100.0          100.0          100.0
9          100.0          100.0          100.0          100.0          100.0

   success_50pct  composite_score
0          100.0            550.0
1          100.0            550.0
2          100.0            550.0
3          100.0            550.0
4          100.0            550.0
5          100.0            550.0
6          100.0            550.0
7          100.0            550.0
8          100.0            550.0
9          100.0            550.0

In [9]:
def rank_top_achievers(df, min_trades=5):
    # Filter out combinations that don't meet the minimum trade threshold
    df_filtered = df[df['total_trades'] >= min_trades]

    # Calculate composite score based on success rates
    df_filtered['composite_score'] = (0.1 * df['success_5pct'] + 
                                      0.2 * df['success_10pct'] + 
                                      0.3 * df['success_15pct'] + 
                                      0.4 * df['success_20pct'] +
                                      0.5 * df['success_25pct'] +
                                      0.6 * df['success_30pct'] +
                                      0.7 * df['success_35pct'] +
                                      0.8 * df['success_40pct'] +
                                      0.9 * df['success_45pct'] +
                                      1.0 * df['success_50pct']
                                      )

    # Rank the results by composite score
    df_ranked = df_filtered.sort_values(by='composite_score', ascending=False).reset_index(drop=True)

    return df_ranked

# Example usage with a threshold of at least 5 trades:
ranked_df = rank_top_achievers(summary_df, min_trades=12)

# Display the top achievers
print(ranked_df.head(10))

  Day of Week Option Type entry_time moneyness  Strike Distance  DTE  \
0     Tuesday        Call   12:41:00       OTM                2    1
1   Wednesday        Call   09:41:00       OTM                1    1
2   Wednesday        Call   09:41:00       OTM                2    1
3      Monday         Put   10:21:00       OTM               -3    1
4   Wednesday        Call   09:31:00       OTM                1    1
5   Wednesday        Call   09:31:00       OTM                2    1
6   Wednesday        Call   09:51:00       OTM                2    1
7      Monday         Put   10:31:00       OTM               -3    1
8   Wednesday        Call   12:11:00       OTM                2    1
9     Tuesday        Call   12:51:00       OTM                2    1

   total_trades  success_5pct  success_10pct  success_15pct  success_20pct  \
0            12         100.0     100.000000     100.000000     100.000000
1            17         100.0     100.000000     100.000000     100.000000
2            14         100.0     100.000000     100.000000     100.000000
3            12         100.0     100.000000      91.666667      91.666667
4            17         100.0     100.000000     100.000000     100.000000
5            12         100.0     100.000000     100.000000     100.000000
6            12         100.0     100.000000     100.000000      91.666667
7            13         100.0      92.307692      92.307692      92.307692
8            13         100.0      92.307692      92.307692      92.307692
9            12         100.0     100.000000     100.000000     100.000000

   success_25pct  success_30pct  success_35pct  success_40pct  success_45pct  \
0     100.000000      91.666667      91.666667      91.666667      91.666667
1      94.117647      94.117647      94.117647      94.117647      88.235294
2      92.857143      92.857143      92.857143      92.857143      92.857143
3      91.666667      91.666667      91.666667      91.666667      91.666667
4      94.117647      94.117647      94.117647      94.117647      88.235294
5      91.666667      91.666667      91.666667      91.666667      91.666667
6      91.666667      91.666667      91.666667      91.666667      91.666667
7      92.307692      92.307692      92.307692      92.307692      92.307692
8      92.307692      92.307692      92.307692      92.307692      92.307692
9     100.000000     100.000000      91.666667      83.333333      83.333333

   success_50pct  composite_score
0      91.666667       516.666667
1      88.235294       512.352941
2      85.714286       510.714286
3      91.666667       506.666667
4      82.352941       506.470588
5      83.333333       504.166667
6      83.333333       500.833333
7      84.615385       500.769231
8      84.615385       500.769231
9      83.333333       499.166667

C:\Users\JR\AppData\Local\Temp\ipykernel_18436\349289769.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['composite_score'] = (0.1 * df['success_5pct'] +

In [10]:
ranked_df.head(25)

,Day of Week,Option Type,entry_time,moneyness,Strike Distance,DTE,total_trades,success_5pct,success_10pct,success_15pct,success_20pct,success_25pct,success_30pct,success_35pct,success_40pct,success_45pct,success_50pct,composite_score
0,Tuesday,Call,12:41:00,OTM,2,1,12,100.000000,100.000000,100.000000,100.000000,100.000000,91.666667,91.666667,91.666667,91.666667,91.666667,516.666667
1,Wednesday,Call,09:41:00,OTM,1,1,17,100.000000,100.000000,100.000000,100.000000,94.117647,94.117647,94.117647,94.117647,88.235294,88.235294,512.352941
2,Wednesday,Call,09:41:00,OTM,2,1,14,100.000000,100.000000,100.000000,100.000000,92.857143,92.857143,92.857143,92.857143,92.857143,85.714286,510.714286
3,Monday,Put,10:21:00,OTM,-3,1,12,100.000000,100.000000,91.666667,91.666667,91.666667,91.666667,91.666667,91.666667,91.666667,91.666667,506.666667
4,Wednesday,Call,09:31:00,OTM,1,1,17,100.000000,100.000000,100.000000,100.000000,94.117647,94.117647,94.117647,94.117647,88.235294,82.352941,506.470588
5,Wednesday,Call,09:31:00,OTM,2,1,12,100.000000,100.000000,100.000000,100.000000,91.666667,91.666667,91.666667,91.666667,91.666667,83.333333,504.166667
6,Wednesday,Call,09:51:00,OTM,2,1,12,100.000000,100.000000,100.000000,91.666667,91.666667,91.666667,91.666667,91.666667,91.666667,83.333333,500.833333
7,Monday,Put,10:31:00,OTM,-3,1,13,100.000000,92.307692,92.307692,92.307692,92.307692,92.307692,92.307692,92.307692,92.307692,84.615385,500.769231
8,Wednesday,Call,12:11:00,OTM,2,1,13,100.000000,92.307692,92.307692,92.307692,92.307692,92.307692,92.307692,92.307692,92.307692,84.615385,500.769231
9,Tuesday,Call,12:51:00,OTM,2,1,12,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,91.666667,83.333333,83.333333,83.333333,499.166667
10,Monday,Put,10:11:00,OTM,-3,1,15,100.000000,93.333333,93.333333,93.333333,93.333333,93.333333,93.333333,86.666667,86.666667,86.666667,496.000000
11,Wednesday,Call,10:01:00,OTM,2,1,13,92.307692,92.307692,92.307692,92.307692,92.307692,92.307692,92.307692,92.307692,84.615385,84.615385,493.076923
12,Friday,Call,09:31:00,OTM,1,3,17,100.000000,100.000000,100.000000,94.117647,94.117647,88.235294,88.235294,88.235294,88.235294,82.352941,491.764706
13,Monday,Put,10:41:00,OTM,-3,1,14,100.000000,100.000000,100.000000,100.000000,92.857143,92.857143,92.857143,92.857143,78.571429,78.571429,490.714286
14,Friday,Call,09:41:00,OTM,1,3,18,94.444444,94.444444,88.888889,88.888889,88.888889,88.888889,88.888889,88.888889,88.888889,88.888889,490.555556
15,Thursday,Put,09:41:00,OTM,-4,1,16,93.750000,93.750000,93.750000,87.500000,87.500000,87.500000,87.500000,87.500000,87.500000,87.500000,485.000000
16,Friday,Call,09:31:00,OTM,2,3,15,93.333333,93.333333,93.333333,93.333333,86.666667,86.666667,86.666667,86.666667,86.666667,86.666667,483.333333
17,Wednesday,Call,10:11:00,OTM,2,1,12,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,91.666667,83.333333,75.000000,75.000000,483.333333
18,Wednesday,Call,11:41:00,OTM,2,1,15,100.000000,93.333333,93.333333,93.333333,93.333333,93.333333,93.333333,93.333333,80.000000,73.333333,482.000000
19,Friday,Call,10:01:00,OTM,1,3,16,93.750000,87.500000,87.500000,87.500000,87.500000,87.500000,87.500000,87.500000,87.500000,87.500000,481.875000
20,Monday,Call,09:31:00,OTM,1,1,13,92.307692,92.307692,92.307692,92.307692,92.307692,92.307692,84.615385,84.615385,84.615385,84.615385,481.538462
21,Thursday,Put,09:31:00,OTM,-4,1,15,93.333333,93.333333,93.333333,86.666667,86.666667,86.666667,86.666667,86.666667,86.666667,86.666667,480.666667
22,Monday,Put,11:11:00,OTM,-3,1,15,93.333333,93.333333,93.333333,86.666667,86.666667,86.666667,86.666667,86.666667,86.666667,86.666667,480.666667
23,Wednesday,Call,12:21:00,OTM,2,1,13,100.000000,100.000000,92.307692,92.307692,92.307692,84.615385,84.615385,84.615385,84.615385,84.615385,479.230769
24,Tuesday,Call,13:31:00,OTM,1,1,19,100.000000,100.000000,100.000000,94.736842,84.210526,84.210526,84.210526,84.210526,84.210526,84.210526,476.842105

### Checks

In [ ]:
result_df = pd.read_csv(read_from_filepath)
specific_row_check = result_df[(result_df['Day of Week'] == 'Tuesday') &
                               (result_df['Time'] == '11:01:00') &
                               (result_df['Strike Distance'] == 2) &
                               (result_df['Option Type'] == 'Call') &
                               (result_df['moneyness'] == 'OTM') &
                               (result_df['DTE'] == 1)
                               ]
print(specific_row_check)

             Date Day of Week      Time Before 1 PM entry_time  \
9271   2024-02-13     Tuesday  11:01:00           Y   11:01:00
22009  2024-03-05     Tuesday  11:01:00           Y   11:01:00
22193  2024-03-19     Tuesday  11:01:00           Y   11:01:00
36486  2024-04-02     Tuesday  11:01:00           Y   11:01:00
36583  2024-04-09     Tuesday  11:01:00           Y   11:01:00
36709  2024-04-16     Tuesday  11:01:00           Y   11:01:00
36814  2024-04-23     Tuesday  11:01:00           Y   11:01:00
68727  2024-06-04     Tuesday  11:01:00           Y   11:01:00
68803  2024-06-11     Tuesday  11:01:00           Y   11:01:00
80482  2024-07-02     Tuesday  11:01:00           Y   11:01:00

          contract_symbol moneyness Option Type  Strike Distance  DTE  ...  \
9271   SPY240214C00497000       OTM        Call                2    1  ...
22009  SPY240306C00511000       OTM        Call                2    1  ...
22193  SPY240320C00515000       OTM        Call                2    1  ...
36486  SPY240403C00520000       OTM        Call                2    1  ...
36583  SPY240410C00518000       OTM        Call                2    1  ...
36709  SPY240417C00506000       OTM        Call                2    1  ...
36814  SPY240424C00507000       OTM        Call                2    1  ...
68727  SPY240605C00529000       OTM        Call                2    1  ...
68803  SPY240612C00537000       OTM        Call                2    1  ...
80482  SPY240703C00548000       OTM        Call                2    1  ...

         5%   10%   15%   20%   25%   30%   35%    40%    45%    50%
9271   True  True  True  True  True  True  True   True   True   True
22009  True  True  True  True  True  True  True   True   True   True
22193  True  True  True  True  True  True  True   True   True   True
36486  True  True  True  True  True  True  True   True   True   True
36583  True  True  True  True  True  True  True   True   True   True
36709  True  True  True  True  True  True  True   True   True   True
36814  True  True  True  True  True  True  True  False  False  False
68727  True  True  True  True  True  True  True   True   True   True
68803  True  True  True  True  True  True  True   True   True   True
80482  True  True  True  True  True  True  True   True   True   True

[10 rows x 21 columns]

In [12]:
specific_row_check

,Date,Day of Week,Time,Before 1 PM,entry_time,contract_symbol,moneyness,Option Type,Strike Distance,DTE,...,5%,10%,15%,20%,25%,30%,35%,40%,45%,50%
9271,2024-02-13,Tuesday,11:01:00,Y,11:01:00,SPY240214C00497000,OTM,Call,2,1,...,True,True,True,True,True,True,True,True,True,True
22009,2024-03-05,Tuesday,11:01:00,Y,11:01:00,SPY240306C00511000,OTM,Call,2,1,...,True,True,True,True,True,True,True,True,True,True
22193,2024-03-19,Tuesday,11:01:00,Y,11:01:00,SPY240320C00515000,OTM,Call,2,1,...,True,True,True,True,True,True,True,True,True,True
36486,2024-04-02,Tuesday,11:01:00,Y,11:01:00,SPY240403C00520000,OTM,Call,2,1,...,True,True,True,True,True,True,True,True,True,True
36583,2024-04-09,Tuesday,11:01:00,Y,11:01:00,SPY240410C00518000,OTM,Call,2,1,...,True,True,True,True,True,True,True,True,True,True
36709,2024-04-16,Tuesday,11:01:00,Y,11:01:00,SPY240417C00506000,OTM,Call,2,1,...,True,True,True,True,True,True,True,True,True,True
36814,2024-04-23,Tuesday,11:01:00,Y,11:01:00,SPY240424C00507000,OTM,Call,2,1,...,True,True,True,True,True,True,True,False,False,False
68727,2024-06-04,Tuesday,11:01:00,Y,11:01:00,SPY240605C00529000,OTM,Call,2,1,...,True,True,True,True,True,True,True,True,True,True
68803,2024-06-11,Tuesday,11:01:00,Y,11:01:00,SPY240612C00537000,OTM,Call,2,1,...,True,True,True,True,True,True,True,True,True,True
80482,2024-07-02,Tuesday,11:01:00,Y,11:01:00,SPY240703C00548000,OTM,Call,2,1,...,True,True,True,True,True,True,True,True,True,True

# Filtering Ranked df & Saving For Use With Bot

In [13]:
ranked_df.head(5)

,Day of Week,Option Type,entry_time,moneyness,Strike Distance,DTE,total_trades,success_5pct,success_10pct,success_15pct,success_20pct,success_25pct,success_30pct,success_35pct,success_40pct,success_45pct,success_50pct,composite_score
0,Tuesday,Call,12:41:00,OTM,2,1,12,100.0,100.0,100.000000,100.000000,100.000000,91.666667,91.666667,91.666667,91.666667,91.666667,516.666667
1,Wednesday,Call,09:41:00,OTM,1,1,17,100.0,100.0,100.000000,100.000000,94.117647,94.117647,94.117647,94.117647,88.235294,88.235294,512.352941
2,Wednesday,Call,09:41:00,OTM,2,1,14,100.0,100.0,100.000000,100.000000,92.857143,92.857143,92.857143,92.857143,92.857143,85.714286,510.714286
3,Monday,Put,10:21:00,OTM,-3,1,12,100.0,100.0,91.666667,91.666667,91.666667,91.666667,91.666667,91.666667,91.666667,91.666667,506.666667
4,Wednesday,Call,09:31:00,OTM,1,1,17,100.0,100.0,100.000000,100.000000,94.117647,94.117647,94.117647,94.117647,88.235294,82.352941,506.470588

In [14]:
ranked_df_150 = ranked_df[ranked_df['composite_score']==150]
ranked_df_140_150 = ranked_df[(ranked_df['composite_score']>=140) & (ranked_df['composite_score']<150)]
ranked_df_130_140 = ranked_df[(ranked_df['composite_score']>=130) & (ranked_df['composite_score']<140)]
ranked_df_120_130 = ranked_df[(ranked_df['composite_score']>=120) & (ranked_df['composite_score']<130)]

In [15]:
ranked_df_150['take_profit'] = 0.15
ranked_df_140_150['take_profit'] = 0.10
ranked_df_130_140['take_profit'] = 0.05

C:\Users\JR\AppData\Local\Temp\ipykernel_18436\4244972990.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ranked_df_140_150['take_profit'] = 0.10
C:\Users\JR\AppData\Local\Temp\ipykernel_18436\4244972990.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ranked_df_130_140['take_profit'] = 0.05

In [ ]:
# Combine all DataFrames into one
combined_df = pd.concat([ranked_df_150, ranked_df_140_150, ranked_df_130_140], ignore_index=True)

# Export to the specified location
# combined_df.to_csv(save_to_filepath, index=False)